{% extends 'base.html.twig' %}

{% block title %}Accueil - Station Météo IoT{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue sur votre Station Météo IoT</h1>
        <p class="lead">Surveillez les conditions météorologiques en temps réel grâce à votre station connectée</p>
        <hr class="my-4">
        <p>Cette application vous permet de collecter, visualiser et analyser les données météorologiques à partir de vos capteurs IoT.</p>
        
        {% if app.user %}
            <div class="mt-4">
                <a href="{{ path('app_weather_station') }}" class="btn btn-primary btn-lg">Voir mes données météo</a>
            </div>
        {% else %}
            <div class="mt-4">
                <a href="{{ path('app_register') }}" class="btn btn-success btn-lg me-3">S'inscrire</a>
                <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg">Se connecter</a>
            </div>
        {% endif %}
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-temperature-high fa-3x mb-3 text-primary"></i>
                    <h3 class="card-title">Température</h3>
                    <p class="card-text">Surveillez les variations de température en temps réel.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-tint fa-3x mb-3 text-primary"></i>
                    <h3 class="card-title">Humidité</h3>
                    <p class="card-text">Suivez le taux d'humidité pour mieux comprendre votre environnement.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-wind fa-3x mb-3 text-primary"></i>
                    <h3 class="card-title">Vent</h3>
                    <p class="card-text">Mesurez la vitesse et la direction du vent en temps réel.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
