<h1>Bienvenue sur Station Météo IoT !</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    <br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Nous vous remercions pour votre inscription et vous souhaitons une bonne utilisation de notre application !
</p>

<p>
    L'équipe Station Météo IoT
</p>
